*.in.html
.DS_Store
.bundles
.ipynb_checkpoints
.sconsign.dblite
.signac
.signac_shell_history
.signac_sp_cache.json.gz
*__pycache__
notebooks/projects
notebooks/static
signac.rc
signac.rc
signac_data.h5
signac_project_document.json
workspace
