name: Run

on:
  pull_request:

  push:
    branches:
      - 'main'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-24.04
    name: Notebooks

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        submodules: "recursive"
    - name: Create Python Environment
      uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
      with:
        pixi-version: v0.54.1
        cache: false
        activate-environment: true
    - name: Test notebooks
      run: |
        python -m pytest -v --nbval --nbval-lax notebooks/
