name: Test

on:
  pull_request:

  push:
    branches:
      - 'main'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-24.04
    name: Projects

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        submodules: "recursive"
    - name: Create Python Environment
      uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
      with:
        pixi-version: v0.54.1
        cache: false
        activate-environment: true
    - name: Test projects
      run: |
        cd projects
        . run-tests.sh --output
